@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul class="nav navbar-nav">
        <li><a href="/ComponentTypes">ComponentTypes</a></li>
        <li><a href="/Categories">Categories</a></li>
        <li><a href="/Components">Components</a></li>
    </ul>
</div>
